{% extends "back/template.html.twig" %}
{% block title %}{{ project.title }} - Site web personnel de Nicolas{% endblock %}
{% block content %}
    <section class="container text-center">
        <article class="row justify-content-center">
            <header class="col-12 mb-4">
                <h1>{{ project.title }}</h1>
            </header>
            <p class="col-sm-4">{{ project.author }}</p>
            <p class=" col-sm-4">{{ project.dateUpdated }}</p>
            <p class="col-sm-4"><a href="{{ project.linkToProject
            }}">Github</a></p>
            <img src="{{ project.linkToPicture }}" alt="illustration du projet">
            <p class="col-11 col-sm-10 my-4">{{ project.chapo }}</p>
            <p class="col-11 col-sm-10">{{ project.content }}</p>
        </article>
    </section>
{% endblock %}
