{% extends "back/template.html.twig" %}
{% block title %}{{ project.title }} - {{ commonTitle }}{% endblock %}
{% block content %}
    <main>
        <section class="container text-center">
            <article class="row justify-content-center">
                <header class="col-12 mb-4">
                    <h1>{{ project.title }}</h1>
                    {% if flashMessage is not empty %}
                        <p class="{{ classValue }}">{{ flashMessage }}</p>
                    {% endif %}
                </header>
                <a class="btn btn-primary col-3 mx-auto mx-sm-5 mb-3" href="/admin/project/edit?id={{ projectId }}" role="button">Modifier</a>
                <a class="btn btn-danger col-3 mx-auto mx-sm-5 mb-3" href="/admin/project/delete?id={{ project.id }}" role="button">Supprimer</a>

                <p class="col-sm-4">{{ project.author }}</p>
                <p class=" col-sm-4">{{ project.dateUpdated }}</p>
                <p class="col-sm-4"><a href="{{ project.linkToProject
                }}">Github</a></p>
                <img class="col-11 col-sm-6" src="{{ project.linkToPicture }}" alt="illustration du projet">
                <div class="text-justify">
                    <p class="col-11 col-sm-12 my-4 mx-auto">{{ project.chapo|raw }}</p>
                    <p class="col-11 col-sm-12 mx-auto">{{ project.content|raw}}</p>
                </div>
            </article>
        </section>
    </main>
{% endblock %}
